<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/navigation.js" defer></script>
</head>
<body>
    <div class="navbar-container" id="navbar-container"></div>
    <main class="main-content">
        <div class="login-container">
            <h1>Welcome Back! Login to your account</h1>
            <div class="user-icon"></div> 
            <form id="loginForm" class="login-form">
              <input type="text" name="email" placeholder="Email Address" required>
              <input type="password" name="password" placeholder="Password" required>
              <button class="login-button" type="submit">Login</button>
              <div id="login-error"> </div>
          </form>
            <div class="login-links">
                <p>Don't have an account? <a href="/register">Register here</a></p>
            </div>
 
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Alleviate your Anxiety Today. All rights reserved. PK Corp</p>
    </footer>
    <script src="../static/js/navigation.js"></script>

</body>
</html>