<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="navbar-container" id="navbar-container"></div>
    <main class="main-content">
        <div class="register-container">
            <h1>Hello! Please Register here</h1> 
            <form id="registerForm" class="register-form">
                <input type="text" name="email" placeholder="Email Address" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="password_confirmation" placeholder="Confirm Password" required>
                <button class="reg-button" type="submit">Register</button>
                <div id="registration-error"></div>
            </form>   
            <div class="register-links">
                <p>Already have an account? <a href="/login">Login here</a></p>
              </div>       
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Alleviate your Anxiety Today. All rights reserved. PK Corp</p>
    </footer>
    <script src="../static/js/navigation.js"></script>
</body>
</html>